<!DOCTYPE HTML>
<html lang="cs">
<head>
    <title>Solar master</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body class="is-preload">

Date: {{.now}}
<h1>Login Bro</h1>
<form method="post">

    <input type="text" name="username" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>
</body>

</html>