<!DOCTYPE HTML>
<html lang="cs">
<head>
    <title>Solar master</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body class="is-preload">

{{if .Status}}
<form method="POST">
    <label style="color: green">Zapnuto</label><br/>
    <label>Kód:</label>
    <input type="text" name="code"><br/>
    <input type="submit" value="Vypnout">
</form>
{{else}}
<form method="POST">
    <label style="color: red">Vypnuto</label><br/>
    <label>Kód:</label>
    <input type="text" name="code"><br/>
    <input type="submit" value="Zapnout">
</form>
{{end}}
</body>
</html>